<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUPABASE_URL</key>
    <string>https://scshvfvaxcmdjiiambwr.supabase.co</string>
    <key>SUPABASE_ANON_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjc2h2ZnZheGNtZGppaWFtYndyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk5OTcwMjQsImV4cCI6MjA4NTU3MzAyNH0.1KwRFyxy6veNz4aokkyNKjtmdR2gZ7TGVBSpUvPexKA</string>
</dict>
</plist>
